.grande {
    font-size: 2rem;
}

.margen {
    margin-right: 2rem;
}

.errorContraseñas {
    margin-left: 10rem;
}

.aceptar {
    max-width: 14rem;
    margin-top: 3rem;
    /* margin-right: 4rem; */
}

