
.grande {
    font-size: 2rem;
}

.margen{
    margin-right: 2rem;
}

.radio{
text-align: center;
margin-top:2rem;

}

.card-datos {
    /* max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important; */
}

.texto-centrado {
    text-align: center;
}

th {
    font-weight: bold;
}
