<!-- Material form register -->
<mdb-card class="card" style="margin: auto;max-width:40rem;">

  <mdb-card-header class="registro default-color-dark white-text text-center py-4">
    <h5>
      <strong class="grande">Datos por {{titulo}}</strong>
    </h5>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center radio" style="color: #757575;">

      <!-- Default inline 1-->
      <div class="custom-control custom-radio custom-control-inline">
        <input [(ngModel)]="zonaSeleccionada" (change)="seleccionarDireccion()" name="zona" value="Direccion"
          type="radio" class="custom-control-input" id="defaultInline1" mdbInput>
        <label class="custom-control-label" for="defaultInline1">Direccion</label>
      </div>

      <!-- Default inline 2-->
      <div class="custom-control custom-radio custom-control-inline">
        <input [(ngModel)]="zonaSeleccionada" (change)="seleccionarBarrio()" name="zona" value="Barrio" type="radio"
          class="custom-control-input" id="defaultInline2" mdbInput>
        <label class="custom-control-label" for="defaultInline2">Barrio</label>
      </div>

      <!-- Default inline 3-->
      <div class="custom-control custom-radio custom-control-inline">
        <input [(ngModel)]="zonaSeleccionada" (change)="seleccionarComuna()" name="zona" value="Comuna" type="radio"
          class="custom-control-input" id="defaultInline3" mdbInput>
        <label class="custom-control-label" for="defaultInline3">Comuna</label>
      </div>

      <div *ngIf="zonaSeleccionada == 'Barrio'" class="md-form">

        <select name="datos" [(ngModel)]="zonaId" (change)="traerDatosBarrio()" class="browser-default custom-select">
          <option *ngFor="let zona of zonas" [value]="zona.id">
            {{zona.descripcion}}</option>
        </select>
      </div>


      <div *ngIf="zonaSeleccionada == 'Comuna'" class="md-form">

        <select name="datos" [(ngModel)]="zonaId" (change)="traerDatosComuna()" class="browser-default custom-select">
          <option *ngFor="let zona of zonas" [value]="zona.id">
            {{zona.descripcion}}</option>
        </select>
      </div>


      <div *ngIf="zonaSeleccionada == 'Direccion'"
        style="margin-left: 2rem; margin-right:3rem; margin-top: 1rem;margin-bottom: 1rem;">
        <input style="text-align: center;" placeholder="Dirección" [disabled]="modalYaAbierto()" [(ngModel)]="tasacionService.direccion"
          (focus)="openModalMapa()" name="direccion_datos_por_zona" type="text" class="form-control"
          id="direccion_datos_por_zona" mdbInput>
        <div>
          <button style="margin-top: 1rem;" [disabled]="noPuedeBuscar()" mdbBtn color="success" mdbWavesLight
            (click)="traerDatosBarrioPorNombre()" type="submit">
            Buscar
          </button>
          <!-- <button style="margin-top: 1rem;" [disabled]="noPuedeBorrar()" mdbBtn color="danger" mdbWavesLight
            (click)="borrarBusqueda()" type="submit">
            Borrar
          </button> -->
        </div>
        <!-- <label for="direccion_tasar">Dirección</label> -->
        <!-- <mdb-error *ngIf="direccionInvalida()">Direccion inválida</mdb-error> -->
      </div>

    </form>
    <!-- Form -->


    <div *ngIf="mostrarDatos() " class="contenedor-tasaciones">
      <div class="card-datos">
        <div class="table-wrapper-scroll-y scrollbar-tasaciones texto-centrado">
          <table class="table">
            <thead class="colorear-celeste">
              <tr>
                <th>INDICADOR</th>
                <th>VALORES</th>
              </tr>
            </thead>
            <tr class="fila-contenido">
              <td> Escuelas </td>
              <td>{{ datos.escuelas }} </td>
            </tr>
            <tr class="fila-contenido">
              <td> Comisarias </td>
              <td *ngIf="datos">{{ datos.comisarias }} </td>
            </tr>
            <tr class="fila-contenido">
              <td> Espacios Verdes </td>
              <td *ngIf="datos">{{ datos.espacios_verdes }} </td>
            </tr>
            <tr class="fila-contenido">
              <td> Hospitales </td>
              <td>{{ datos.hospitales }} </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </mdb-card-body>



</mdb-card>
<!-- Material form register -->