.buscar {
    max-width: 14rem;
    margin-top: 3rem;
}

.texto-centrado {
    text-align: center;
}

th {
    font-weight: bold;
}

.contactar_usuario {
    display: block;
    margin: auto;
}

.fondo-tr {
    background-color: #7FDBFF;
}

.fondo-azul {
    color: white;
    background-color: #0074D9 !important;
}
