.tasaciones {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.card {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
}

.texto-centrado {
    text-align: center;
}

th {
    font-weight: bold;
}

.container-grafico {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
}

.titulo {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.fondo-tr {
    background-color: #39CCCC;
}
