.tasaciones {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.texto-centrado {
    text-align: center;
}

th {
    font-weight: bold;
}


.titulo {
    font-size: 3rem;
    text-align: center;
}

.fondo-tr {
    color: white;
    background-color: #4B515D;
}
