.tasaciones {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: white;
}

.card {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
}

.texto-centrado {
    text-align: center;
}

th {
    font-weight: bold;
}
