<div class="margen">
  <nav class="mb-1 navbar navbar-expand-lg fixed-top navbar-dark pink accent-2">
    <a class="navbar-brand" routerLink="/home">TasaHome</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="openModalDatosPorZona()">Datos por zona</a>
        </li>
        <li *ngIf="estaLogueado()" class="nav-item">
          <a class="nav-link" (click)="openModalBuscarTasaciones()">Buscar tasaciones</a>
        </li>
        <li *ngIf="estaLogueado()" class="nav-item">
          <a class="nav-link" routerLink="/tasar-propiedad">Tasar propiedades</a>
        </li>
        <li *ngIf="estaLogueado()" class="nav-item">
          <a class="nav-link" routerLink="/tasaciones-anteriores">Tasaciones anteriores</a>
        </li>
        <li *ngIf="!estaLogueado()" class="nav-item">
          <a class="nav-link" routerLink="registrar-usuario">Registrar usuario</a>
        </li>
      </ul>

      <div class="nav-item" *ngIf="!estaLogueado()">
        <button class="boton" type="button" mdbBtn color="primary" size="sm" outline="true" rounded="true"
          data-toggle="modal" [disabled]="modalAbierto" data-target="#modal" (click)="openModalLogin()"
          mdbWavesEffect>Iniciar Sesion</button>
      </div>

      <ul *ngIf="estaLogueado()" class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">1
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>

      <div *ngIf="estaLogueado()" class="btn-group" mdbDropdown>
        <a mdbDropdownToggle mdbWavesEffect type="button" class="dropdown-toggle waves-light" mdbWavesEffect
          style="height: 30px">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt=""
            class="img-fluid rounded-circle z-depth-0" style="height: 30px"></a>
        <div class="dropdown-menu dropdown-menu-right  dropdown-primary">
          <a class="dropdown-item" routerLink="/tasaciones-anteriores">Mis tasaciones</a>
          <a class="dropdown-item" (click)="openModalBuscarTasaciones()">Tasaciones similares</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </nav>
</div>