.tasaciones {
    font-size: 2rem;
    text-align: center;
}

.card {
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white !important;
}

.texto-centrado {
    text-align: center;
}

th {
    font-weight: bold;
}

.boton {
    display: block;
    margin: auto;
}

.spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 50%;
    right: 50%; /* or: left: 50%; */
}
