<div (keyup.enter)="iniciarSesion()" class="card login">
  <form class="form text-center border border-light p-5">

    <p class="h4 mb-4">Iniciar Sesión</p>

    <div style="margin-bottom: 3rem;" class="md-form mt-0" [formGroup]="validatingForm">  
      <input data-testid="login-email" #focusThis style="color: white;" formControlName="email" [(ngModel)]="email" name="email_login" type="email"
        id="email_login" class="form-control" mdbValidate mdbInput>
      <label for="email_login" style="color: white">Correo electrónico</label>
      <mdb-error data-testid="login-email-error" *ngIf="emailTieneErrores()">Email Inválido</mdb-error>
    </div>
    <div style="text-align: right;">
      <a data-testid="boton-recuperar-contraseña" (click)="abrirModalRecuperarContrasenia()" class="recuperar-contraseña">¿Olvidaste
        tu contraseña?</a>
    </div>
    <div class="md-form mt-0" [formGroup]="validatingForm">

      <input data-testid="login-contraseña" style="color: white;" id="pass_login" formControlName="password" mdbInput type="password"
        name="password_login" [(ngModel)]="password" class="form-control mb-4" mdbValidate>
      <label for="pass_login" style="color: white">Contraseña</label>

      <mdb-error *ngIf="noCompletoContrasenia()">Debe ingresar contraseña</mdb-error>
    </div>

    <div style="margin-bottom: 2rem;">
      <button data-testid="iniciar-sesion" class="iniciar-sesion" [disabled]="noPuedeIniciar()" mdbBtn type="button" gradient="blue" rounded="true"
        block="true" (click)="iniciarSesion()">Iniciar Sesión</button>
    </div>
    <div data-testid="boton-ir-a-registrarse"  class="card"> <a style=" background-color: #455a64 ;padding: 1rem " (click)=" irARegistrarUsuario()">
        ¿Nuevo en TasaHome? Registrarse
      </a>
    </div>

      <app-notifications class="notification" [notification]="notification"></app-notifications>

  </form>
</div>