agm-map {
  height: 300px;
}

.fondo-azul {
  color: white;
  background-color: #0074d9 !important;
}

.color-hover:hover {
  color: white;
  background-color: #0074d9 !important;
}

.card-mapa {
  width: 50rem;
  margin: auto;
  /* margin: auto; */
  /* background-color: #263238 !important; */
  /* padding-bottom: 1rem; */
}

.home {
  width: 70rem;
}

.container {
  padding: 0;
  background-color: #a8dadc !important;
}

.botonera {
  text-align: center;
  margin-top: 1rem;
  /* padding: 1rem; */
}

/* .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
} */
