@import '~@ng-select/ng-select/themes/material.theme.css';

/* You can add global styles to this file, and also import other style files */

body {
    /* background-color: #1C2331; */
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 10px;

    /* background-image: -webkit-linear-gradient(330deg, #3F729B 0%, #1C2331 100%);
    background-image: linear-gradient(120deg, #3F729B 0%, #1C2331 100%); */

    // background-image: linear-gradient(to top, #4c5657 20%, #30393a 80%);
    background-attachment: fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 12rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12rem; /* Footer height */
}

body::-webkit-scrollbar {
    width: 1rem;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;

    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, silver 0%, silver 100%);
    background-image: linear-gradient(120deg, silver 0%, silver 100%);
}

.modal-open .modal {
    overflow-y: auto;
}

body {
    background-color: #1C2331;
}

.pac-container {
    z-index: 10000 !important;
}
