@import "~@ng-select/ng-select/themes/material.theme.css";

@font-face {
  font-family: "Roboto Condensed";
  font-display: auto;
  src: url(/assets/Roboto/RobotoCondensed-Regular.ttf) format("truetype");
  font-weight: 300;
}

/* You can add global styles to this file, and also import other style files */

body {
  /* background-color: #1C2331; */
  overflow-x: auto;
  overflow-y: auto;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;

  /* background-image: -webkit-linear-gradient(330deg, #3F729B 0%, #1C2331 100%);
    background-image: linear-gradient(120deg, #3F729B 0%, #1C2331 100%); */

  // background-image: linear-gradient(to top, #4c5657 20%, #30393a 80%);
  background-attachment: fixed;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 12rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem; /* Footer height */
}

body::-webkit-scrollbar {
  width: 1rem;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;

  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, silver 0%, silver 100%);
  background-image: linear-gradient(120deg, silver 0%, silver 100%);
}

.modal-open .modal {
  overflow-y: auto;
}

body {
  background-color: #1c2331;
}

.pac-container {
  z-index: 10000 !important;
}

.header {
  background-color: #101357;
}

.button-primary {
  background-color: #0d47a1 !important;
  color: white;
}

.notification {
  z-index: 9999;
  top: 0;
  right: 0;
  margin-top: 2rem;
  margin-right: 2rem;
  position: fixed;
}

.notification-default {
  height: 1rem;
  margin: 2rem 0 1rem 0;
}
